.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #d1092b;
    font-weight: bold;
}

.markDown {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.markDown h2 {
    font-size: 2rem;
    margin: 1rem;
    margin-left: 0;
    font-weight: 500;
}

.markDown h3 {
    font-size: 1.75rem;
    margin: 1rem;
    margin-left: 0;
    font-weight: 400;
}

.markDown p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.markDown a {
    padding: 1rem;
    border-radius: 5px;
    background-color: #d1092b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}